\
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif; 
  background-color: #f4f4f4;
  color: #333; 
  line-height: 1.6;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34; /* Dark header background */
  min-height: 60px;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

